.login {
    margin-top: 10%;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.titulo-bienvenida {
    text-align: center;
}

.img-bienvenida {
    margin-left: 35%;
}